
<h1>Create New Article!</h1>
<form id="newPost">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title"><br>
  <label for="body">Article:</label>
  <input type="text" id="body" name="body"><br>
  <input type="submit" value="Post">
</form>

<script src="./js/newArticle.js"></script>