
<h1>Create New Article!</h1>
<form>
  <label for="fname">Title:</label>
  <input type="text" id="title" name="title"><br>
  <label for="lname">Article:</label>
  <input type="text" id="body" name="body"><br>
  <input type="submit" value="Post">
</form>
