<div class="signup-card">
<h1>SIGNUP</h1>
<form>
  <label for="fname">email:</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="fname">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="lname">Password:</label><br>
  <input type="password" id="password" name="password"><br>
  <input type="submit" value="signup">
</form>
</div>

<script src="./js/signup.js"></script>